.boton {
    border: none;
	min-width: 180px;
	height: 50px;
	padding: 0 30px;
	background: #000;
	color: #fff;
	display: inline-block;
	border-radius: 100px;
	text-decoration: none;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	background: #403CC2;
	transition: .3s ease all;
}
.boton:hover {
	background: #1B1881;
	text-decoration: none;
}
.boton--absolute {
	position: absolute;
	right: 20px;
	bottom: -25px;
}
.boton__texto {
	font-weight: 600;
}




