.content{ 
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	justify-content: space-around;
}

.contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 50px;
	border: solid white;
	.card {
	background-color: transparent;
	color: white;
	}
}

.contentcat{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right: 10px;
	margin-left: 10px;
	.card {
	background-color: transparent;
	color: white;
	border: solid white;
	width: 100%;
	}
}

#acVideo, #tlVideo, #cVideo, #dsVideo, #vVideo, #gVideo, #bVideo, #dVideo, #mmVideo, #rVideo, #wVideo, #gowVideo, #cbVideo, #wowVideo, #valVideo, #lolVideo, #csVideo, #fVideo{
	display: none;
}




.videoCentrar{
	width: 100%;
	position: fixed;
	display: flex;
	z-index: 3;
	justify-content: center;
	align-items: center;	
}



 





