.content{ 
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	justify-content: space-around;
}

.contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 50px;
	border: solid white;
	.card {
	background-color: transparent;
	color: white;
	}
}

.contentcat{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right: 10px;
	margin-left: 10px;
	.card {
	background-color: transparent;
	color: white;
	border: solid white;
	width: 100%;
	}
}

#acVideo{
	display: none;
}
#tlVideo{
	display: none;
}
#cVideo{
	display: none;
}
#dsVideo{
	display: none;
}
#vVideo{
	display: none;
}
#gVideo{
	display: none;
}
#bVideo{
	display: none;
}
#dVideo{
	display: none;
}
#mmVideo{
	display: none;
}
#rVideo{
	display: none;
}
#wVideo{
	display: none;
}
#gowVideo{
	display: none;
}
#cbVideo{
	display: none;
}
#wowVideo{
	display: none;
}
#valVideo{
	display: none;
}
#lolVideo{
	display: none;
}
#csVideo{
	display: none;
}
#fVideo{
	display: none;
}





 





